#Virtualenv
.Pyhton
bin
lib
include
share/sip

# Compiled python modules.
.pyc
*__pycache*

# Setuptools distribution folder.
/dist/

# Python egg metadata, regernerated from source files by setuptools.
/*.egg-info

